
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;
   /**========== darkmode =======*/
   --dark-pr-color:#000000;
   --dark-sc-color: #2B2B2B;
   --dark-tr-color:#080218;
   --dark-fr-color:#3F0071;
   --dark-fv-color:#610094;

   --text-seconde-color-dark: #E3E3E3;
   --text-color-dark:#F1F1F1;
   --text-seconde-color-dark: #E3E3E3;
    /*========== Colors ==========*/
    --my-pr-color:  #232D65;
    --my-sc-color: #929DD9;
    --my-tr-color: #A8B0E0;
    --first-color:   #f4f5f7d3;
    --first-color-light: #fefefe;
    --title-color: #19181B;
    --text-color:   #a9aec0d3;
    --text-color-light:   #bec4d4d3;
    --body-color: #F9F6FD;
    --container-color: #FFFFFF;

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
  }
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/


html {
    scroll-behavior: smooth;
}


.indicator{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   background-color: var(--container-color);
   z-index: var(--z-fixed);
   transition: .4s;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.change-theme-nav-button{
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--title-color);
}
.change-theme-nav-button:hover{
    color: var(--my-sc-color);
}
.nav_logo{
    color: var(--title-color);
    font-weight: 600;
}
.nav_logo:hover {
    color: var(--text-colorr);
}


@media (max-width:767px){
    .nav_menu{
       position: fixed;
        bottom: 2rem;
        left: 0;
        right: 0;
        width: 328px;
        height: 72px;
        background-color: var(--container-color);
        box-shadow: 0 8px 32px hsla(231,44%,45%,.2);
        margin: 0 auto;
        padding: 1.5rem  .5rem;
        border-radius: .65rem;
    }
    .nav{
        justify-content: space-between !important;
        padding-left: 5px;
    }
    .nav_list{

    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    }
    .nav__link{
      /* padding-top:none !important; */
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
    }
    .nav__link i{
     font-size: 1.5rem !important;
     color: black !important;
     z-index: 20 !important;
     transition: .3s !important;
    }
    .nav__name{
        font-size: .40rem !important;
        position: absolute !important;
        font-weight: 500 !important;
        transform: translateY(45px) !important;
        color: var(--body-color) !important;
        z-index: 20 !important;
        transition: .4s !important;
        opacity: 0 !important;
    }

    .indicator{
        display: block;
        position: absolute;
        left: 5px;
        bottom: 0;
        fill: var(--my-sc-color);
        transition: .3s;
    }


    /* Active Link */
    .active-link{
        color: var(--body-color) !important;
    }
    .active-link i {
        color: var(--body-color) !important;
    }
    .active-link .nav__name{
        opacity: 1 !important;
        transform: translateY(28px) !important;
    }
    /* indicator move  */
   .nav__link:nth-child(1).active-link  ~ .indicator{
    transform: translateX(calc(56px  * 0));

    }
    .nav__link:nth-child(2).active-link ~ .indicator {
        transform: translateX(calc(56px * 1));

    }
    .nav__link:nth-child(3).active-link  ~ .indicator {
        transform: translateX(calc(56px * 2));

    }
    .nav__link:nth-child(4).active-link  ~  .indicator {
        transform: translateX(calc(56px  * 3));

    }
    .nav__link:nth-child(5).active-link  ~ .indicator {
        transform: translateX(calc(56px * 4));

    }

}
.nav_list{
    display: flex;

}
.nav__link{

    color: var(--title-color);
    font-weight: 600;
}
.nav__link:hover {
    color: var(--my-sc-color) !important;
}
.nav_list {
    justify-content: space-around;
}


.nav__icon {
    font-size: 1.5rem;
}
.active-link {
    position: relative;
    color: var(--my-sc-color);
    transition: .3s;
}
/* Change background header */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}


/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {

    .nav{
        zoom: .8;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav_list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {

}
@media screen and (max-width: 767px) {
    .nav__link{

        padding-top: 0 !important;

    }
}
/* form large screen */

@media screen and (max-width:968px) {
    .container {
       margin-left: auto;
       margin-right: auto;

    }
    .nav {
        zoom: 1.1;
    }
    .nav__link{

        padding-top: 20px ;

    }

}

/* For large devices */
@media screen and (min-width: 1024px) {
        .nav__link{

        padding-top: 20px ;

    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}


